<?xml version="1.0" encoding="UTF-8"?>
<suite name="Group of group Suite" verbose="1">
  <parameter name ="stringIs" value = "Hello Dear World!" />
  <parameter name = "stringHaveToBe" value = "World! Dear Hello"/>
  <test name="Group of group Test">
  
    <classes>
        <class name = "com.day6.test.testReverseStrings">
           <methods>
              <include name = "testReverseStrings"/>
            </methods>
        </class>
    
        <class name="com.week2.day4.examples.tests.testComputeSum" >
            <methods>
                <include name="testSumNumbers" />
            </methods>
         </class>
        <class name="com.day5.test.testReverseStrings">
            <methods>
                <include name="testReverseWordsInArray" />
                <include name="testReverse"/>
            </methods>
        </class>
      </classes> 
      
      <!-- <packages>
             <package name="com.week2.day4.examples.tests" />
       </packages> -->
    </test>
      
</suite>